target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.springBeans
.sts4-cache
.settings/*
!.settings/checkstyle.xml
!.settings/suppressions-xpath.xml
!.settings/java-formatter.xml

### IntelliJ IDEA ###
.idea/workspace.xml
.idea/jarRepositories.xml
.idea/compiler.xml
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
